<h1> Notificar </h1>

<div>
  <md-input-container >
    <input mdInput placeholder="Placa" [(ngModel)]="plaque">
  </md-input-container>
  <button md-button (click)="notifyBlocking()">Trancando</button>
  <button md-button (click)="notifyLight()">Farol</button>
</div>

<h3> Últimas notificações enviadas </h3>
<div *ngFor="let push of lastPushes">
  {{push.plaque}}
</div>
