
    <md-toolbar>
        <nav> 
            <button md-button
                [routerLink]="[{ outlets: { abc: ['profile'] } }]">
                Meu perfil
            </button>
            <button md-button 
                [routerLink]="[{ outlets: { abc: ['notify'] } }]">
                Notificar
            </button>
        </nav>
    </md-toolbar>
    
    <router-outlet name="abc"> </router-outlet>
