<h1> Perfil </h1>

<md-toolbar>
  <nav>
    <button md-button (click)="save()">
                Salvar
            </button>
    <button md-button (click)="cancel()">
                Cancelar
            </button>
  </nav>
</md-toolbar>

<div *ngIf="user">
  <md-input-container>
    <input mdInput [(ngModel)]="user.name">
  </md-input-container>
</div>

<div>
  <h3>Placas</h3>

  <div *ngFor="let plaque of user?.plaques" style="display: block;">
    <md-input-container style="width: 60px;">
      <input mdInput value="{{plaque}}" [readOnly]="true">
    </md-input-container>
    <button md-icon-button (click)="removePlaque(plaque)">
      <md-icon>delete</md-icon>
    </button>
  </div>

  <md-input-container style="width: 60px;">
    <input mdInput [(ngModel)]="plaqueToAdd">
  </md-input-container>
  <button md-icon-button (click)="addPlaque()">
    <md-icon>add</md-icon>
  </button>
</div>



<!--<button (click)="redirect()">redirect</button>-->
